<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hero Section</title>
    <style>
        body, .hero-section, .hero-text, .typewriter-container {
            font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif;
            margin: 0;
            padding: 0;
            box-sizing: border-box;
        }

        .hero-section {
            display: flex;
            justify-content: center;
            align-items: center;
            min-height: 100vh;
            text-align: center;
            color: #fff;
            background: #000;
            position: relative;
            overflow: hidden;
            margin-bottom: 30px;
        }

        .matrix-bg {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            z-index: 0;
            background: #000;
            overflow: hidden;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .matrix-bg canvas {
            display: block;
            width: 100%;
            height: 100%;
        }

        .card-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            position: relative;
            z-index: 1;
            gap: 20px; /* Space between cards */
        }

        .card {
            position: relative;
            margin: 10px;
            padding: 20px;
            background: rgba(255, 255, 255, 0);
            border-radius: 10px;
            box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
            width: 80%; /* Ensures the cards stay centered and have consistent width */
            max-width: 900px;
        }

        .glowing-ring-container, .hero-text {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
        }

        .glowing-ring {

            width: 300px;
            height: 300px;
            border-radius: 50%;
            box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.2);
            display: flex;
            justify-content: center;
            align-items: center;
            animation: glow 0s infinite alternate;
        }

        .glowing-dot {
            width: 10vw;
            height: 10vw;
            max-width: 80px;
            max-height: 80px;
            border-radius: 50%;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(255, 255, 255, 0.5), 0 0 20px rgba(255, 255, 255, 0.4), 0 0 30px rgba(255, 255, 255, 0.3);
        }

        @keyframes glow {
            0% {
                box-shadow: 0 0 20px rgba(255, 255, 255, 0.5), 0 0 30px rgba(255, 255, 255, 0.4), 0 0 40px rgba(255, 255, 255, 0.3), 0 0 50px rgba(255, 255, 255, 0.2);
            }
            100% {
                box-shadow: 0 0 40px rgba(255, 255, 255, 0.7), 0 0 60px rgba(255, 255, 255, 0.6), 0 0 80px rgba(255, 255, 255, 0.5), 0 0 100px rgba(255, 255, 255, 0.4);
            }
        }

        .hero-text {
            font-size: vw;
            max-font-size: 3rem;
        }

        .typewriter-container {
            display: inline-block;
            position: relative;
            vertical-align: middle;
            line-height: 1.5;
        }

        .typewriter {
            display: inline-block;
            overflow: hidden;
            white-space: nowrap;
            text-align: left;
            min-width: 8ch;
            vertical-align: middle;
            line-height: 1;
        }

        #typewriter::after {
            content: '|';
            animation: blink 0.7s infinite;
            vertical-align: middle;
            line-height: 1.9;
        }

        @keyframes blink {
            0%, 100% {
                opacity: 1;
            }
            50% {
                opacity: 0;
            }
        }

        .cta-button-container {
            position: relative;
            top: 0;
            left: 0;
            width: 250px;
            height: 50px;
            margin: 30px 0;
            display: flex;
            justify-content: center;
            align-items: center;
        }

        .cta-button-container a {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 55%;
            display: flex;
            justify-content: center;
            align-items: center;
            background: rgba(255, 255, 255, 0.05);
            box-shadow: 0 15px 15px rgba(0, 0, 0, 0.3);
            border-bottom: 1px solid rgba(255, 255, 255, 0.1);
            border-top: 1px solid rgba(255, 255, 255, 0.1);
            border-radius: 30px;
            padding: 10px;
            letter-spacing: 1px;
            text-decoration: none;
            overflow: hidden;
            color: #fff;
            font-weight: 400px;
            z-index: 1;
            transition: 0.5s;
            backdrop-filter: blur(15px);

        }

        .cta-button-container:hover a {
            letter-spacing: 3px;
        }

        .cta-button-container a::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 50%;
            height: 100%;
            background: linear-gradient(to left, rgba(255, 255, 255, 0.15), transparent);
            transform: skewX(45deg) translate(0);
            transition: 0.5s;
            filter: blur(0px);
        }

        .cta-button-container:hover a::before {
            transform: skewX(45deg) translate(200px);
        }

        .cta-button-container::before {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            bottom: -5px;
            width: 30px;
            height: 10px;
            background: #ff1f71;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
            box-shadow: 0 0 15px #ff1f71;
        }

        .cta-button-container:hover::before {
            bottom: 0;
            height: 100%;
            width: 80%;
            border-radius: 30px;
            box-shadow: 0 0 65px #ff1f71;
        }

        .cta-button-container::after {
            content: "";
            position: absolute;
            left: 50%;
            transform: translatex(-50%);
            top: -5px;
            width: 30px;
            height: 10px;
            background: #ff1f71;
            border-radius: 10px;
            transition: 0.5s;
            transition-delay: 0.5;
            box-shadow: 0 0 15px #ff1f71;
        }

        .cta-button-container:hover::after {
            top: 0;
            height: 50%;
            width: 80%;
            border-radius: 30px;
            box-shadow: 0 0 65px #ff1f71;
        }

        @media (max-width: 460px) {

            .hero-section {
              margin-bottom: -10px;
            }
            .hero-text {
                font-size: 5vw !important;
                width: 95%;
                margin-top: -40px;
                margin-bottom: -30px;
            }

            .glowing-ring {
                width: 285px !important;
                height: 285px !important;
                margin-bottom: -25px;
            }
            .glowing-ring-container{
              margin-top: -400px;
              /* width: 20px;
              height: 30px; */
              margin-bottom: 40px;

            }

            .cta-button-container {
               height: 50px;
               width: 210px;
                margin-bottom: -200px;
                margin-right: 20px;
            }
            .cta-button-container::before{
                margin-left: 10px;

            }
            .cta-button-container::after{
                margin-left: 10px;
            }
        }
        @media (max-width:375px){
            .glowing-ring {
                width: 240px !important;
                height: 240px !important;
                margin-top: 70px;
                margin-bottom: 25px;


            }
            .cta-button-container{
                max-width: 150px;
                margin-right: 20px;
                height: 45px;



            }
             .cta-button-container::before{
                margin-left: 10px;
                width: 18px;



             }
             .cta-button-container::after{
                margin-left: 10px;
                width: 18px;
                margin-top: 2px;
             }

            .hero-text{
                font-size: 4.9vw !important;
                margin-bottom: -40px;
                margin-top: -90px;
            }
            /* .hero-section{
                margin-bottom: 10px;
            } */


        }





        @media (max-width:1700px){
          .hero-text {
                font-size: 2rem;
                width: 100%;
                height: 100px;

            }
            /* .hero-text-container{
              margin-top: 100px;
            } */

            .glowing-ring {
                width: 400px;
                height: 400px;

            }
            .glowing-ring-container{
              /* margin-top: -290px; */
            }

            .cta-button-container {

            }
        }
        @media (max-width:2700px){
          .hero-text {
                font-size: 2rem;
                width: 100%;
                height: 100px;

            }
            /* .hero-text-container{
              margin-top: 100px;
            } */

            .glowing-ring {
                width: 400px;
                height: 400px;

            }



            }

    </style>
</head>
<body>
    <div class="hero-section">
        <div class="matrix-bg" id="matrix-bg">
            <canvas id="matrixCanvas"></canvas>
        </div>
        <div class="card-container">
            <div class="card glowing-ring-container">
                <div class="glowing-ring">
                    <div class="glowing-dot"></div>
                </div>
            </div>
            <div class="card hero-text">
                <h1>We are here to help you: <span class="typewriter-container"><span class="typewriter" id="typewriter"></span></span></h1>
            </div>
            <div class="cta-button-container">
                <a href="#contact" id="cta-button">Contact Us</a>
            </div>
        </div>
    </div>

    <script defer>
        const words = ["grow", "improve", "manifest"];
        let i = 0;
        let j = 0;
        let currentWord = "";
        let isDeleting = false;
        const typewriterElement = document.getElementById('typewriter');

        function type() {
            const speed = isDeleting ? 100 : 200;
            const word = words[i];

            if (!isDeleting && j < word.length) {
                currentWord += word.charAt(j);
                j++;
                typewriterElement.textContent = currentWord;
            } else if (isDeleting && j > 0) {
                currentWord = word.substring(0, j - 1);
                j--;
                typewriterElement.textContent = currentWord;
            } else if (!isDeleting && j === word.length) {
                isDeleting = true;
                setTimeout(type, 1000);
                return;
            } else if (isDeleting && j === 0) {
                isDeleting = false;
                i = (i + 1) % words.length;
                currentWord = "";
            }

            setTimeout(type, speed);
        }

        function adjustTypewriterWidth() {
            const longestWord = words.reduce((a, b) => a.length > b.length ? a : b);
            typewriterElement.style.minWidth = `${longestWord.length}ch`;
        }

        type();
        adjustTypewriterWidth();

        window.addEventListener('resize', adjustTypewriterWidth);

        const canvas = document.getElementById('matrixCanvas');
        const ctx = canvas.getContext('2d');

        canvas.width = window.innerWidth;
        canvas.height = window.innerHeight;

        const matrix = '$$$$$$$$$$0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZ';
        const font_size = 1;
        const columns = Math.floor(canvas.width / font_size);

        const drops = Array(columns).fill(1);

        let speed = 50;
        let lastFrameTime = 0;

        function drawMatrix(timestamp) {
            if (timestamp - lastFrameTime < speed) {
                requestAnimationFrame(drawMatrix);
                return;
            }
            lastFrameTime = timestamp;

            ctx.fillStyle = 'rgba(0, 0, 0, 0.05)';
            ctx.fillRect(0, 0, canvas.width, canvas.height);

            ctx.fillStyle = '#FFFFFF';
            ctx.font = `${font_size}px arial`;

            drops.forEach((y, x) => {
                const text = matrix.charAt(Math.floor(Math.random() * matrix.length));
                const posX = x * font_size;
                const posY = y * font_size;

                ctx.fillText(text, posX, posY);

                if (posY > canvas.height && Math.random() > 0.975) {
                    drops[x] = 0;
                }

                drops[x]++;
            });

            requestAnimationFrame(drawMatrix);
        }

        requestAnimationFrame(drawMatrix);

        window.addEventListener('resize', () => {
            canvas.width = window.innerWidth;
            canvas.height = window.innerHeight;
            const columns = Math.floor(canvas.width / font_size);
            drops.length = columns;
            drops.fill(1);
        });

        document.getElementById('cta-button').addEventListener('click', function(event) {
            if (window.innerWidth <= 1024) {
                event.preventDefault();
                this.classList.add('animate');

                setTimeout(() => {
                    window.location.href = '#contact';
                }, 500);
            }
        });
    </script>
</body>
</html>
